h1{
  color: blue;
  margin-top: 20px;
}
section{
  border: 1px solid black;
  border-radius: 200px;
  background-color: antiquewhite;
  text-align: center;
}
p{
color: black;  
}

header{

margin-right: -10%;
  width: 100%;
  text-align: center;
border-bottom: 1px solid black;
background-color: lightgray;
}
