h1{
  color: rgb(255, 255, 255);
  
}

body{
  background-color: rgb(255, 221, 182);
}

section{
  border: 10px solid rgb(109, 70, 47);
  border-radius: 5px;
  background-color: rgb(45, 92, 48);
  text-align: center;
}
p{
color: black;  
}

header{
  width: 100vw;
  margin-left: calc(50% - 50vw);
  text-align: center;
  border-bottom: 5px solid rgb(0, 119, 255);
  background-color: rgb(95, 210, 255);
  margin-bottom: 5%;

}

#texto 
{
  color: rgba(255, 255, 255, 0.842);
  font-size: 2em;
  font-weight: bold;
  margin: 10%;
}

#respuesta {
  color: rgba(255, 255, 255, 0.664);
  font-size: 1.5em;
  font-weight: bold;
  margin: 3%;
}
