<header>

<h1> EL GRAN JUEGO DEL AHORCADO</h1>

</header>
<input type="hidden" id="palabraOculta" value="@ViewBag.Palabra">
<section> <br>
<div id = "texto"></div> <br>


<form id="miForm">

<input type="text" id="ingLetra" placeholder = "Ingrese una letra:" maxlength="1">
<button onclick="arriesgarLetra()" type="button" >Probar</button>
<div id = "respuesta"></div> <br>

</section>  
</form>

