<h1> EL GRAN JUEGO DEL AHORCADO</h1>
<p> En este juego tendrás que adivinar la palabra! Que la pases de 10 puntos!</p> 
<div id = "palabraGuion">
 <input type = hidden id = "palabra">
 @ViewBag.palabra
 </input>

</div>